$tablet-min-width: 768px; //ipad
$desktop-min-width: 1000px;
$wide-min-width: 1192px;

$primary-font-family: 'Noto Sans HK', sans-serif;

$transition-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);

$text-color: #fff;
$bg-color: #171717;

$color-white: #FFF;
$color-black: #000;
$text-color-inverted: $color-black;

$color-primary: #ff1e45;
$color-primary-20-white: #ff4b6a;
$color-primary-40-white: #ff788f;
$color-primary-20-black: #cc1837;
$color-primary-40-black: #991229;
